<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tobi.pgtomysql.ant.mysql.mapper.TeleplaySotrendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tobi.pgtomysql.ant.mysql.entity.TeleplaySotrend">
        <id column="id" property="id" />
        <result column="keyword" property="keyword" />
        <result column="teleplay_id" property="teleplayId" />
        <result column="is_enabled" property="isEnabled" />
        <result column="is_deleted" property="isDeleted" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
        <result column="u_timestamp" property="uTimestamp" />
    </resultMap>

</mapper>
