<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tobi.pgtomysql.ant.pgsql.mapper.PersonHuatiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tobi.pgtomysql.ant.pgsql.entity.PersonHuati">
        <id column="id" property="id" />
        <result column="weight" property="weight" />
        <result column="is_enabled" property="isEnabled" />
        <result column="is_exclusive" property="isExclusive" />
        <result column="huati_id" property="huatiId" />
        <result column="person_id" property="personId" />
        <result column="person_id" property="personId" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>

</mapper>
