<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tobi.pgtomysql.ant.pgsql.mapper.PrdhouseTiebaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tobi.pgtomysql.ant.pgsql.entity.PrdhouseTieba">
        <id column="prdhouse_id" property="prdhouseId" />
        <result column="prdhouse_id" property="prdhouseId" />
        <result column="title" property="title" />
        <result column="url" property="url" />
        <result column="uid" property="uid" />
        <result column="is_enabled" property="isEnabled" />
        <result column="sum" property="sum" />
        <result column="post_sum" property="postSum" />
        <result column="subject_sum" property="subjectSum" />
        <result column="member_sum" property="memberSum" />
        <result column="check_sum" property="checkSum" />
        <result column="spider_date" property="spiderDate" />
        <result column="grab_time" property="grabTime" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>

</mapper>
